@keyframes slideBackground {
  0%,
  100% {
    background-position: 100% 50%; /* Comienza y termina en los extremos */
  }
  50% {
    background-position: 0% 50%; /* En el punto medio, el fondo está en el centro */
  }
}

@keyframes textColorChange {
  0%,
  100% {
    color: #000; /* Color inicial */
  }
  25% {
    color: rgb(119, 112, 100); /* Color intermedio */
  }
  50% {
    color: #4b4847; /* Color en el punto medio */
  }
  75% {
    color: rgb(255, 255, 255); /* Regresa al color intermedio */
  }
}

.tareas-vencen-hoy,
.tareas-vencen-mañana,
.tareas-vencidas {
  position: relative;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-weight: 700;
  display: inline-block;
  font-size: 0.7rem;
  border: 2px solid transparent; /* Asegura visibilidad en todos los fondos */
  background-color: transparent; /* Fondo transparente */
  background-image: linear-gradient(
    to right,
    transparent 25%,
    orange 25%,
    rgb(255, 38, 0) 75%,
    transparent 75%
  );
  background-size: 200% 100%;
  animation: slideBackground 15s infinite linear,
    textColorChange 15s infinite linear;
}
